<page-header></page-header>

<div cdkDropList  (cdkDropListDropped)="drop($event, tiles)">
<mat-grid-list cols="5" rowHeight="100px">

  <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="3"
      [rowspan]="tile.rows"
      [style.background]="tile.color" cdkDrag>
      <page-header *ngIf="tile.text==='3'">434</page-header>
      <app-error-404  *ngIf="tile.text==='1'">23</app-error-404>
  </mat-grid-tile>
  <mat-grid-tile
      [colspan]="2"
      [rowspan]="1">
    123
  </mat-grid-tile>
</mat-grid-list>
</div>
